*, html {
	color: white;
	font-family: 'Orbitron', sans-serif;
 }

body { 
	background: #383838;
	padding: 25px;  
	margin: 0; 
	text-align:center;  
}

canvas { 
	border: 1px solid black;
	background: black;
    opacity: 0.4; 
}

#canvasHolder { 
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}


#playButton { 
	position: absolute;
	top: 38%;
	left: 40%;
	width: 256px;
	height: 128px;
	cursor: pointer;
	z-index: 3;
}

#playGameText {
	position: absolute;
	top: 39%;
	left: 42.5%;
	font-size: 32px;
	cursor: pointer;
	z-index: 4;
}

div {
	display: block;
    height: auto;
}

#audioToggle {
	text-align: right;
	padding-left: 
}

#gameHolder { 
	text-align: center;
	min-width: 1282px;
	max-width: 1282px;
	margin: auto; 
}

#resourceBar {
	border: 1px solid black;
	text-align: right; 
	display: block;
	height: 64px;
	padding-left: 16px;
	padding-right: 16px;
	background: url("img/resourceBar.png");
}

#resourceBar img {
	height: 32px;
	width: 32px;   
}

#audioToggle {
	padding-right: 10px;
}

#resourceBar p { 
    margin: auto;  
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.resources {
	padding-right: 16px;
    float: left;
    margin: 0 auto;
}

.soundControls {
	padding-left: 16px;
    float: right;
    margin: 0 auto;
}

.soundControls img { 
 	cursor: pointer;
}


